@model List<Thesis.Models.GamingEvent>
@using Thesis.Infrastructure

@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}


<div id="content-wrapper">
    <div class="container-fluid">

        <div id="successAlert" class="alert alert-success" style="display:none">
            <strong>Poprawnie usunięto grę!</strong>
        </div>

        <div class="row mb-2">
            <div class="col-4">
                <a class="btn btn-block btn-primary btn-lg" href="@Url.Action("AddEvent","GamingEvent")">
                    Dodaj wydarzenie <img src="@Url.ImagesOtherPath("eventAdd.svg")" class="img-fluid" />
                </a>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tytuł</th>
                        <th scope="col">Opis</th>
                        <th scope="col">Data wydarzenia</th>
                        <th scope="col">Maksymalna ilośc osób</th>
                        <th scope="col">Obecna ilość osób</th>
                        <th scope="col">Obrazek</th>
                        <th scope="col">Obecni zapisani użytkownicy</th>
                        <th scope="col">Akcje</th>
                        @*<th scope="col">Wymiana za</th>
                            <th scope="col">Wymiana dla</th>*@
                    </tr>
                </thead>
                @{ int i = 0; }
                <tbody>
                    @if (Model.Any())
                    {
                        foreach (var GameEvent in Model)
                        {
                            i++;
                            <tr id="Row-@GameEvent.GamingEventId">
                                <th scope="row">@i</th>
                                <td>@GameEvent.Title</td>
                                <td>@GameEvent.Content</td>
                                <td>@GameEvent.DateOfEvent</td>
                                <td>@GameEvent.MaxNumberOfPeople</td>
                                <td>@GameEvent.CurrentNumberOfPeople</td>
                                <td>
                                    <img class="img img-fluid" width="128" src="@Url.ImagesGamingEventPath(GameEvent.MainPicture)" alt="">
                                </td>
                                <td>
                                    @if (GameEvent.UsersToAttend != null && GameEvent.UsersToAttend.Count > 0)
                                    {
                                        foreach (var user in GameEvent.UsersToAttend.ToList())
                                        {
                                            <text>-</text> @user.UserName <br />
                                        }
                                    }
                                </td>
                                <td>
                                    <a class="nav-link btn btn-warning" href="@Url.Action("EditEvent","GamingEvent",new { id = GameEvent.GamingEventId })">Edytuj</a>
                                    <button class="btn btn-danger btn-block" value="@GameEvent.GamingEventId" onclick="deleteEvent(this)">Usuń</button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="9" style="text-align:center;">Brak wyników</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        function deleteEvent(ele)
        {
            var $button = $(ele);
            $id = $button.val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteEvent", "GamingEvent")",
                data: { id: $id},
                success: function (response)
                {
                    $('#Row-' + $id).remove();
                    $('#successAlert').fadeIn('slow', function () {
                        $('#successAlert').delay(3000).fadeOut();
                    });
                },
            });
        }
    </script>
}

