@using Thesis.Infrastructure

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")
    <style>
        .button-box {
            text-align: center;
            margin-top: 20px;
        }

        ul.ui-autocomplete {
            color: slategrey !important;
            background-color: white;
            width: 50px;
            margin-top: 20px;
            list-style-type: upper-roman;
        }

            ul.ui-autocomplete:hover {
                cursor: pointer;
            }

            ul.ui-autocomplete > li {
                border-style: solid;
                border-width: 1px;
                margin-top: 5px;
                font-weight: bold;
            }

        .commentLike:hover {
            cursor: pointer;
            border: 1px solid blue;
        }

        .commentUnLike:hover {
            cursor: pointer;
            border: 1px solid red;
        }
    </style>

</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"  href="@Url.Action("Index","Post")">Projekt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Post")">Posty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Game")">Gry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","GamingEvent")">Wydarzenie</a>
                </li>
                <li class="nav-item">
                    <text class="nav-link"> <img src="@Url.ImagesOtherPath("isHappy.svg")" />-dobry nastrój komentarze</text>
                </li>
            </ul>

            @using (Html.BeginForm("Search", "Game", FormMethod.Get, new { id = "search-form", @class = "form-inline my-2 my-lg-0" }))
            {
                <input id="search-filter" name="game" class="form-control mr-sm-2">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
            }
                <ul class="navbar-nav ml-auto ml-md-0">
                    <li class="nav-item" style="color: white;">
                        <a class="nav-link" href="@Url.Action("Index","Observe")">
                            Obserwowane(<span id="observe-header-amount-elements">@Html.Action("GetAmountOfElementsInObserver", "Observe")</span>)
                        </a>
                    </li>

                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @if (User.Identity.IsAuthenticated)
                            {
                                string c = Html.Raw(Html.Action("GetMainImageOfLoggedUSer", "Account")).ToString();
                                if (c != null && c != string.Empty)
                                {
                                    string newMessages = Html.Action("NewMessages", "Message").ToString();
                                    if (newMessages != "0")
                                    {
                                        <span class="badge badge-danger ml-4">@newMessages</span>
                                    }
                                    <img id="imgOfUserCurrent" class="img-fluid rounded" width="28" src="@Url.ImagesUserPath(Html.Raw(Html.Action("GetMainImageOfLoggedUSer", "Account")).ToString())" />
                                }
                                else
                                {
                                    string newMessages = Html.Action("NewMessages", "Message").ToString();
                                    if (newMessages != "0")
                                    {
                                        <span class="badge badge-danger">@newMessages</span>
                                    }
                                    <i class="fas fa-user-circle"></i>
                                }
                            }
                            else
                            {
                                string newMessages = Html.Action("NewMessages", "Message").ToString();
                                if (newMessages != "0")
                                {
                                    <span class="badge badge-danger">@newMessages</span>
                                }
                                <i class="fas fa-user-circle"></i>
                            }
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </li>
                </ul>
        </div>
    </nav>

    <div id="wrapper">

        @RenderBody()

        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2019</span>
                </div>
            </div>
        </footer>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAndjqueryUIAndFilesForWebsite")

    <script>
        $(function () {
            $('#search-filter').autocomplete({
                source: '@Url.Action("ItemPrompt", "Home")'
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>