@model Thesis.ViewModels.PostCategoryViewModel
@using Thesis.Infrastructure;

@using (@Html.BeginForm("SavePost", "Post", FormMethod.Post, new { enctype = "multipart/form-data", @id = "myform" }))
{
    if (ViewData.ContainsKey("NewBook"))
    {
        <input type="hidden" name="newItem" value="New Book" />
    }

    @Html.AntiForgeryToken()

    <div class="form-group text-danger">
        @Html.ValidationSummary()
    </div>

    @Html.HiddenFor(o => o.Post.PostId)
    @Html.HiddenFor(o => o.Post.MainPicture)


    <div class="form-row">
        <div class="col-lg-4 mb-3">
            @Html.LabelFor(o => o.Post.Title, "Nazwa:")
            @Html.TextBoxFor(o => o.Post.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(o => o.Post.Title, null, new { @class = "form-text text-danger" })
        </div>

        <div class="col-lg-4 mb-3">
            @Html.LabelFor(o => o.Post.Content, "Treść postu:")
            @Html.TextBoxFor(o => o.Post.Content, new { @class = "form-control" })
            @Html.ValidationMessageFor(o => o.Post.Content, null, new { @class = "form-text text-danger" })
        </div>

        <div class="col-lg-4 mb-3">
            @Html.LabelFor(o => o.PostCategories, "Kategoria:")<br />
            @Html.DropDownListFor(m => m.Post.CategoryPostId, new SelectList(Model.PostCategories, "CategoryPostId", "Name", Model.PostCategories.First().CategoryPostId), new { @class = "form-control" })
        </div>
    </div>



    <div class="form-row">
        @if (Model.Post.MainPicture != null)
        {
            <div class="col-lg-6 mb-3">
                <div class="col-12">
                    <div class="col-12">
                        <label class="btn btn-primary btn-block" for="my-file-selector">
                            <input id="my-file-selector" name="file" type="file" style="display:none"
                                   onchange="realUrl(this)">
                            Wybierz zdjęcie
                        </label>
                    </div>
                    <div class="col-12 text-center">
                        <span class='label label-info font-weight-bold' id="upload-file-info"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="col-12">Nowy obrazek</div>
                    <div class="col-12">
                        <img id="userNewImage" src="@Url.ImagesOtherPath("mNnZ.png")" class="img-fluid" alt="your image" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="col-12 text-center">
                    <p>
                        Obecny obrazek
                    </p>
                </div>
                <div class="col-12 text-center">
                    <img class="img-fluid" src="@Url.ImagesPostPath(Model.Post.MainPicture)" />
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-12 mb-3">
                <div class="col-12">
                    <div class="col-12">
                        <label class="btn btn-primary btn-block" for="my-file-selector">
                            <input id="my-file-selector" name="file" type="file" style="display:none"
                                   onchange="realUrl(this)">
                            Wybierz zdjęcie
                        </label>
                    </div>
                    <div class="col-12 text-center">
                        <span class='label label-info font-weight-bold' id="upload-file-info"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="col-12 mt-2 mb-2">Nowy obrazek</div>
                    <div class="col-12 text-center">
                        <img id="userNewImage" src="@Url.ImagesOtherPath("mNTZ.png")" class="img-fluid" alt="Twoje zdjęcie" />
                    </div>
                </div>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-primary btn-block">Dodaj</button>
}


    <div  id="modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Wykryty Spam</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Przykro nam, ale ten tekst jest podejrzany o bycie spamem proszę wprowadzić inny</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>

